.black-col{
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    padding: 0 5%;
}

h1{
    text-align: center; 
}

.button-row{
    margin-top: 10px;
}

.button-row button{
    margin-right: 10px; 
}