<div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex fxFlexOffset="15" style="margin-right: 10%;">
        <app-region-list (selected)="onSelect($event)"></app-region-list>
        <button mat-raised-button (click)="addRegion()">Add</button>
        <button mat-raised-button color="warn" (click)="delete(region)">Delete</button>
    </div>
    <div *ngIf="formOpened" fxFlex="20">
        <button mat-icon-button color="warn" aria-label="close" (click)="formOpened = false" class="close-button">
            <mat-icon>close</mat-icon>
        </button>
        <app-region-form [value]="region" (valueChange)="save($event)"></app-region-form>
    </div>
</div>


