<mat-toolbar>
    <span [routerLink]="['']" routerLinkActive="router-link-active" style="cursor: pointer;">App Of Gods</span>
    <span style="flex: 1 1 auto;"></span>

    <div *ngIf="auth.user$ | async as user; else login">
        <a [routerLink]="['user/profile']" routerLinkActive="router-link-active" mat-button>My Profile</a>
        <button mat-button (click)="auth.signOut()">Sign Out</button>
    </div>

    <ng-template #login>
        <a [routerLink]="['user/register']" routerLinkActive="router-link-active"  mat-button>Register</a>
        <mat-form-field>    
            <mat-label>Login</mat-label>
            <mat-select [(value)]="selected">
                <mat-option value="option2">Google Signin</mat-option>
                <mat-option value="option3">Email + Password</mat-option>
            </mat-select>
        </mat-form-field>
       <!-- <a (click)="auth.googleSignin()" mat-button>Login</a>-->
    </ng-template>
</mat-toolbar>
