<mat-toolbar>
    <span [routerLink]="['']" routerLinkActive="router-link-active" style="cursor: pointer;">Hunter Fields</span>
    <span style="flex: 1 1 auto;"></span>

    <div *ngIf="auth.user$ | async as user; else login">
        <a [routerLink]="['user/profile']" routerLinkActive="router-link-active" mat-button>My Profile</a>
        <button mat-button (click)="auth.signOut()">Sign Out</button>
    </div>

    <ng-template #login>
        <a [routerLink]="['auth/register']" routerLinkActive="router-link-active"  mat-button>Register</a>
        <a (click)="showLoginDialog()" mat-button>Login</a>
    </ng-template>
</mat-toolbar>
