<div fxLayout="row">
  <mat-form-field style="margin-right: 20px;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Brezno">
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>



<div>
  <table mat-table [dataSource]="dataSource" matSort>
            
    <!-- Position Column -->
   <ng-container matColumnDef="id">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
     <td mat-cell *matCellDef="let region"> {{region.id}} </td>
   </ng-container>
 
   <!-- Name Column -->
   <ng-container matColumnDef="name">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
     <td mat-cell *matCellDef="let region"> {{region.name}} </td>
   </ng-container>
 
   <!-- Weight Column -->
   <ng-container matColumnDef="hunterCount">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Hunters </th>
     <td mat-cell *matCellDef="let region"> {{region.hunterCount}} </td>
   </ng-container>
 
   <!-- Symbol Column -->
   <ng-container matColumnDef="animalCount">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Animals </th>
     <td mat-cell *matCellDef="let region"> {{region.animalCount}} </td>
   </ng-container>
 
    <!-- Max Hunters -->
    <ng-container matColumnDef="maxHunters">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Max Hunters </th>
     <td mat-cell *matCellDef="let region"> {{region.maxHunters}} </td>
    </ng-container>
 
   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>
 </table>
 
 <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>  
</div>
